[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.20.0"
flask = "==1.1.4"
simplejson = "*"
markupsafe = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.8"
